/* 
 css/styles.css 
 Student Name: Hamed Bizreh
 Student Id: 12428049
*/

:root {
  --bg: #faf7f2;
  --text: hwb(0 12% 88%);
  --muted: #6b6b6b;
  --brand: #216869;
  --brand-2: #49a078;
  --card: #ffffff;
  --border: #e9e3db;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, "Apple Color Emoji", "Segoe UI Emoji";
  color: var(--text);
  background: var(--bg);
  line-height: 1.6;
  scroll-behavior: smooth;
}
html,
body {
  scroll-behavior: smooth;
}
header {
  position: sticky;
  top: 0px;
  background-color: var(--bg);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 500px;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  font-size: 19px;
  font-weight: bold;
  transition: all 0.2s;
  z-index: 100;
}
#about,
#menu,
#hours,
#find-us {
  scroll-margin-top: 70px;
}

header nav {
  display: flex;
  flex-direction: row;
  gap: 35px;
  transition: all 0.2s;
}
header a {
  text-decoration: none;
  color: var(--brand);
  transition: all 0.2s;
}
header a:hover {
  padding: 10px 0 0;
  color: black;
}

.hero {
  color: white;
  width: 100%;
  height: 740px;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*media queary additions*/
  transition: all 0.2s;
}
.restaurant-tags {
  margin: 10px 0 5px 0;
  color: var(--text);
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(64, 152, 111);
  display: inline-block;
  text-align: center;
  padding: 5px 15px 5px 15px;
  border-radius: 20px;
  transition: all 0.2s;
}
.welcome-msg {
  margin: 0 0 25px 0;
  font-size: 55px;
  transition: all 0.2s;
}
.hero p {
  margin: 0 0 30px 0;
  font-size: 22px;
  text-align: center;
  transition: all 0.2s;
}
.view-menu-button {
  text-decoration: none;
  margin: 0;
  color: white;
  font-size: 19px;
  font-weight: bold;
  border: none;
  border-radius: 35px;
  background-color: var(--brand);
  padding: 17px 30px 17px 30px;
  cursor: pointer;
  transition: all 0.2s;
}
.view-menu-button:hover {
  color: var(--brand);
  background-color: white;
}
.view-menu-button:active {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgba(42, 82, 87, 0.8);
}

/*header and hero done*/
/*now ABOUT SECTION*/

#about {
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  max-width: 1240px;
  width: 100%;
  transition: all 0.2s;
}
.about-boxes,
.hours-boxes,
.address-box,
.map-box,
.reserve {
  padding: 0 25px;
  font-size: 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 17px;
  border-color: rgba(200, 200, 200, 0.5);
  background-color: white;
  transition: all 0.2s;
}
.about-boxes h2 {
  font-size: 32px;
  margin: 15px 0;
  transition: all 0.2s;
}
.about-paragraph {
  margin: 0;
  max-width: 560px;
  width: 100%;
  transition: all 0.2s;
}
.about-note {
  margin: 16px 0;
  font-size: 17px;
  color: rgb(96, 96, 96);
  transition: all 0.2s;
}
.about-note span {
  display: block;
  transition: all 0.2s;
}
.about-tags {
  font-size: 13px;
  font-weight: bold;
  color: rgb(96, 96, 96);
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  border-color: rgb(198, 198, 198);
  padding: 7px 15px;
  margin: 10px 3px 20px;
  transition: all 0.2s;
}
/* About Section Ready Now Menu Section*/
#menu {
  max-width: 1240px;
  width: 100%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s;
}
#menu h2 {
  font-size: 32px;
  transition: all 0.2s;
}
#menu h3 {
  font-size: 24px;
  transition: all 0.2s;
}
.menu-boxes {
  max-width: 1240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  transition: all 0.2s;
  overflow: visible;
}
.menu-box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-style: solid;
  border-radius: 20px;
  border-width: 1px;
  border-color: rgba(200, 200, 200, 0.5);
  background-color: white;
  padding: 20px 25px 100px;
  font-weight: bold;
  transition: all 0.2s;
  z-index: 0;
}
.menu-box:hover {
  transform: scale(1.1);
  z-index: 10;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}
.category {
  margin-bottom: 60px;
  transition: all 0.2s;
}
.menu-item {
  display: flex;
  flex-direction: column;
}
.item-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  vertical-align: top;
  height: 40px;
  font-size: 18px;
  transition: all 0.2s;
}
.item-price {
  color: rgb(96, 96, 96);
  font-size: 20px;
  transition: all 0.2s;
}
.item-description {
  margin: 0;
  color: rgb(96, 96, 96);
  font-weight: normal;
  font-size: 16px;
  transition: all 0.2s;
}
.dividers {
  color: rgba(168, 166, 166, 0.6);
  border-top-style: dashed;
  border-top-width: 1px;
  margin: 25px 0;
}
.menu-note {
  color: rgb(96, 96, 96);
  transition: all 0.2s;
}
/* Menu Section Ready Now Hours Section*/
#hours {
  max-width: 1240px;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  transition: all 0.2s;
}
#hours h2 {
  font-size: 32px;
  margin: 15px 0;
  transition: all 0.2s;
}
.hours-boxes,
.reserve {
  padding-bottom: 25px;
  margin-top: 70px;
  width: 100%;
}
.day-time {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  transition: all 0.2s;
}
.hours-boxes .dividers {
  margin: 0;
}
.p1 span {
  color: rgb(96, 96, 96);
}
.p1 {
  margin-top: 25px;
  font-size: 20px;
  transition: all 0.2s;
}
.p2 {
  font-size: 17px;
  color: rgb(96, 96, 96);
  margin-top: 25px;
  transition: all 0.2s;
}
/* Hours Section Done now for find-us section*/
#find-us {
  margin: 110px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  max-width: 1240px;
  transition: all 0.2s;
}
#find-us h2 {
  font-size: 32px;
  margin: 15px 0;
}
.address-box {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  margin-top: 70px;
  width: 100%;
  margin: auto;
  transition: all 0.2s;
}
.map-box {
  background-image: url(../images/map.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  transition: all 0.2s;
}
.address {
  font-size: 20px;
  transition: all 0.2s;
}
.parking {
  font-size: 16px;
  color: rgb(96, 96, 96);
  padding-bottom: 70px;
  transition: all 0.2s;
}
footer {
  color: rgb(96, 96, 96);
  max-width: 1600px;
  width: 100%;
  margin: 100px auto 50px;
  padding-top: 50px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(96, 96, 96, 0.5);
  transition: all 0.2s;
}
footer a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: all 0.2s;
}
footer a:hover {
  text-decoration: underline;
  color: blue;
}

/*all sections done now for media queires*/
@media screen and (max-width: 1120px) and (min-width: 768px) {
  header {
    gap: 250px;
    font-size: 17px;
    transition: all 0.2s;
  }
  header nav {
    gap: 20px;
    transition: all 0.2s;
  }
  .hero {
    height: 550px;
    transition: all 0.2s;
  }
  .restaurant-tags {
    font-size: 13px;
    padding: 4px 12px 4px 12px;
    transition: all 0.2s;
  }
  .welcome-msg {
    font-size: 48px;
    transition: all 0.2s;
  }
  .hero p {
    font-size: 18px;
    transition: all 0.2s;
  }
  .view-menu-button {
    font-size: 17px;
    border-radius: 30px;
    padding: 14px 25px 14px 25px;
    transition: all 0.2s;
  }
  /*header and hero done*/
  /*now ABOUT SECTION*/
  #about {
    max-width: 930px;
    transition: all 0.2s;
  }
  .about-boxes,
  .hours-boxes,
  .address-box,
  .map-box,
  .reserve {
    font-size: 14px;
    transition: all 0.2s;
  }
  .about-boxes h2 {
    font-size: 25px;
    transition: all 0.2s;
  }
  .about-paragraph {
    max-width: 400px;
    transition: all 0.2s;
  }
  .about-note {
    font-size: 13px;
    transition: all 0.2s;
  }
  .about-tags {
    font-size: 11px;
    padding: 6px 13px;
    transition: all 0.2s;
  }
  /* About Section Ready Now Menu Section*/
  #menu {
    max-width: 930px;
    transition: all 0.2s;
  }
  #menu h2 {
    font-size: 26px;
    transition: all 0.2s;
  }
  #menu h3 {
    font-size: 19px;
    transition: all 0.2s;
  }
  .menu-boxes {
    gap: 15px;
    transition: all 0.2s;
  }
  .category {
    margin-bottom: 35px;
    transition: all 0.2s;
  }
  .item-name-price {
    font-size: 15px;
    transition: all 0.2s;
  }
  .item-price {
    font-size: 17px;
    transition: all 0.2s;
  }
  .item-description {
    font-size: 13px;
    transition: all 0.2s;
  }
  .menu-note {
    font-size: 14px;
    transition: all 0.2s;
  }
  /* Menu Section Ready Now Hours Section*/
  #hours {
    max-width: 930px;
    transition: all 0.2s;
  }
  #hours h2 {
    font-size: 25px;
    transition: all 0.2s;
  }

  .day-time {
    font-size: 16px;
    transition: all 0.2s;
  }
  .p1 {
    font-size: 15px;
    transition: all 0.2s;
  }
  .p2 {
    font-size: 13px;
    transition: all 0.2s;
  }
  /* Hours Section Done now for find-us section*/
  #find-us {
    max-width: 930px;
    transition: all 0.2s;
  }
  #find-us h2 {
    font-size: 25px;
    transition: all 0.2s;
  }
  .address {
    font-size: 16px;
    transition: all 0.2s;
  }
  .parking {
    font-size: 13px;
    transition: all 0.2s;
  }
  footer {
    max-width: 1000px;
    font-size: 15px;
    transition: all 0.2s;
  }
}

/* mobile-ipads media query*/
@media screen and (max-width: 767px) and (min-width: 430px) {
  header {
    gap: 150px;
    font-size: 15px;
    transition: all 0.2s;
  }
  header nav {
    gap: 20px;
    transition: all 0.2s;
  }
  .hero {
    height: 500px;
    transition: all 0.2s;
  }
  .restaurant-tags {
    font-size: 11px;
    padding: 3px 11px;
    transition: all 0.2s;
  }
  .welcome-msg {
    font-size: 44px;
    transition: all 0.2s;
  }
  .hero p {
    font-size: 15px;
    transition: all 0.2s;
  }
  .view-menu-button {
    font-size: 15px;
    border-radius: 25px;
    padding: 12px 22px;
    transition: all 0.2s;
  }
  /*header and hero done*/
  /*now ABOUT SECTION*/
  #about {
    max-width: 650px;
    transition: all 0.2s;
  }
  .about-boxes,
  .hours-boxes,
  .address-box,
  .map-box,
  .reserve {
    font-size: 12px;
    transition: all 0.2s;
  }
  .about-boxes h2 {
    font-size: 22px;
    transition: all 0.2s;
  }
  .about-paragraph {
    max-width: 400px;
    transition: all 0.2s;
  }
  .about-note {
    font-size: 11px;
    transition: all 0.2s;
  }
  .about-note span {
    display: inline-block;
    transition: all 0.2s;
  }
  .about-tags {
    font-size: 8px;
    padding: 6px 8px;
    transition: all 0.2s;
  }
  /* About Section Ready Now Menu Section*/
  #menu {
    max-width: 650px;
    transition: all 0.2s;
  }
  #menu h2 {
    font-size: 24px;
    transition: all 0.2s;
  }
  #menu h3 {
    font-size: 17px;
    transition: all 0.2s;
  }
  .menu-boxes {
    gap: 10px;
    transition: all 0.2s;
  }
  .item-name-price {
    font-size: 13px;
    transition: all 0.2s;
  }
  .item-price {
    font-size: 15px;
    transition: all 0.2s;
  }
  .item-description {
    font-size: 12px;
    transition: all 0.2s;
  }
  .menu-note {
    font-size: 12px;
    transition: all 0.2s;
  }
  /* Menu Section Ready Now Hours Section*/
  #hours {
    max-width: 650px;
    transition: all 0.2s;
  }
  #hours h2 {
    font-size: 22px;
    transition: all 0.2s;
  }

  .day-time {
    font-size: 14px;
    transition: all 0.2s;
  }
  .p1 {
    font-size: 14px;
    transition: all 0.2s;
  }
  .p2 {
    font-size: 12px;
    transition: all 0.2s;
  }
  /* Hours Section Done now for find-us section*/
  #find-us {
    max-width: 650px;
    transition: all 0.2s;
  }
  #find-us h2 {
    font-size: 22px;
    transition: all 0.2s;
  }
  .address {
    font-size: 14px;
    transition: all 0.2s;
  }
  .parking {
    font-size: 12px;
    transition: all 0.2s;
  }
  footer {
    max-width: 700px;
    font-size: 13px;
    transition: all 0.2s;
  }
}

/*phone media query*/

@media screen and (max-width: 430px) {
  header {
    gap: 60px;
    font-size: 12px;
    transition: all 0.2s;
  }
  header nav {
    gap: 10px;
    transition: all 0.2s;
  }
  .hero {
    height: 400px;
    transition: all 0.2s;
  }
  .restaurant-tags {
    font-size: 9px;
    padding: 3px 9px;
    transition: all 0.2s;
  }
  .welcome-msg {
    font-size: 33px;
    transition: all 0.2s;
  }
  .hero p {
    font-size: 10px;
    transition: all 0.2s;
  }
  .view-menu-button {
    font-size: 11px;
    border-radius: 20px;
    padding: 10px 18px;
    transition: all 0.2s;
  }
  /*header and hero done*/
  /*now ABOUT SECTION*/
  #about {
    max-width: 400px;
    flex-direction: column;
    transition: all 0.2s;
  }
  .about-boxes,
  .hours-boxes,
  .address-box,
  .map-box,
  .reserve {
    font-size: 13px;
    transition: all 0.2s;
  }
  .about-boxes {
    min-height: 240px;
    transition: all 0.2s;
  }
  .about-boxes h2 {
    font-size: 18px;
    transition: all 0.2s;
  }
  .about-paragraph {
    max-width: 330px;
    transition: all 0.2s;
  }
  .about-note {
    font-size: 11px;
    transition: all 0.2s;
  }
  .about-note span {
    display: inline-block;
    transition: all 0.2s;
  }
  .about-tags {
    font-size: 9px;
    padding: 6px 8px;
    margin: 5px 5px;
    transition: all 0.2s;
  }
  /* About Section Ready Now Menu Section*/
  #menu {
    max-width: 400px;
    transition: all 0.2s;
  }
  #menu h2 {
    font-size: 18px;
    transition: all 0.2s;
  }
  #menu h3 {
    font-size: 15px;
    transition: all 0.2s;
  }
  .menu-boxes {
    gap: 7px;
    flex-wrap: wrap;
    transition: all 0.2s;
  }
  .menu-box {
    padding: 20px 25px 40px;
    transition: all 0.2s;
  }
  .menu-box:hover {
    transform: scale(1.03);
    z-index: 10;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
  }
  .category {
    margin: 0 0 20px;
    transition: all 0.2s;
  }
  .item-name-price {
    font-size: 12px;
    transition: all 0.2s;
  }
  .item-price {
    font-size: 14px;
    transition: all 0.2s;
  }
  .item-description {
    font-size: 11px;
    transition: all 0.2s;
  }
  .menu-note {
    font-size: 11px;
    transition: all 0.2s;
  }
  /* Menu Section Ready Now Hours Section*/
  #hours {
    max-width: 400px;
    transition: all 0.2s;
  }
  #hours h2 {
    font-size: 18px;
    transition: all 0.2s;
  }

  .day-time {
    font-size: 11px;
    transition: all 0.2s;
  }
  .p1 {
    font-size: 10px;
    transition: all 0.2s;
  }
  .p2 {
    font-size: 10px;
    transition: all 0.2s;
  }
  /* Hours Section Done now for find-us section*/
  #find-us {
    max-width: 400px;
    flex-direction: column;
    transition: all 0.2s;
  }
  #find-us h2 {
    font-size: 22px;
    transition: all 0.2s;
  }
  .address-box {
    box-sizing: border-box;
  }
  .address {
    font-size: 14px;
    transition: all 0.2s;
  }
  .parking {
    font-size: 12px;
    transition: all 0.2s;
  }
  .map-box {
    min-height: 250px;
    width: auto;
    transition: all 0.2s;
  }
  footer {
    max-width: 415px;
    font-size: 10px;
    transition: all 0.2s;
  }
}

/*phones less than 490*/
